@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&display=swap');

:root{
    --violet: hsl(257, 40%, 49%);
    --softMagenta:hsl(300, 69%, 71%)
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{

    background-image: url(/images/bg-mobile.svg);
    background-repeat: no-repeat;
    background-color: var(--violet);
    background-size: 100%;
}

.main-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section1{
    margin-top: 60px;
}

.section1 img{
    width: 325px;
}

.section2{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 85px;
    width: 375px;
    font-family: "Poppins", sans-serif;
}

.section2_title{
    text-align: center;
    color: white;
    font-weight: 600;
    padding: 15px;
}

.section2_paragraph{
    text-align: center;
    margin-top: 20px;
    padding: 15px;
    color: white;
    font-weight: 400;
    letter-spacing: 0.5px;
    
}

.section2_button{
    margin-top: 25px;
    width: 240px;
    padding: 15px;
    color: var(--violet);
    margin-bottom: 30px;
    border-radius: 25px;
    border: 2px solid white;
    cursor: pointer;
}

.section2_button:hover{
    background-color: var(--softMagenta);
    color: white;
}


.section2_social{
    width: 170px;
    margin-top: 15px;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    margin-left: auto;
    margin-right: auto;
}

.section2_social a{
    padding: 8px;
    color: white;
    border-radius: 60%;
    border: 1px solid white;
    font-size: 20px;
    text-decoration: none;

}

.section2_social a:hover{
    background-color: var(--softMagenta);

}

.attribution { 
    font-size: 11px;
    margin-top: 8px; 
    padding: 5px;
    text-align: center; 
    color:white
}
br{
    width: 100%;
}

@media (width>=1440px){
    body{
        background-image: url(/images/bg-desktop.svg);
    }
    .main-container{
        flex-direction: row;
    }
    .section1 img{
        margin-left: 30px;
        width: 800px;
    }
    .section2{
        width:650px ;
        margin-left: 30px;
    }
    .section2_title, .section2_paragraph{
        text-align: left;
        align-self: flex-start;
    }
    .section2_social{
        margin-right: 0;
    }
}
